@charset "utf-8";

body {
  background: #FFF;
  text-align: center;
  font-family: sans-serif;
  margin 0 0 50px; }

h1 {
  color: white;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  background: url("../images/m_new.png") no-repeat center 100px;
  padding: 350px 0 10px;
  margin: 0; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%; }

.doc {
  font-size: 14px;
  margin: 0; }
  .doc:before,
  .doc:after {
    opacity: ;
    padding: 6px;
    font-style: normal;
    position: relative;
    content: "•"; }
  .doc a {
    color: black;
    text-decoration: none;}
    .doc a:hover {
      color: rgb(255, 0, 0); }

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

.copy {
  color: gray;
  font-size: 8px;
}

.billboard {
	/*background: url('../images/wood_mac_camera.jpg') no-repeat center;*/
  background: url('../images/wood_mac_camera.jpg') no-repeat center;
  /*background: url('../images/wood.jpg') no-repeat center;*/
  /*background: url('../images/fog_forest.jpg') no-repeat ;*/

}
