---
title: jsSketch
---

<div id="header">
  <h1> jsSketch </h1>
		<p>
      <button type="button" name="grid">New Grid</button>
      <button type="button" name="reset">Reset</button>
    </p>
</div> <!-- header -->
<div id="container">
</div> <!-- container -->
